---
title: iMachining
---

{% include breadcrumbs.html path=page.path title=page.title %}
<div id="iMachining">
  <div class="container text-center">
    <h1>iMachining</h1>
    <p class="general_introduction">
      SolidCAM獨自開發的iMachining智慧型加工模組，其獨特的刀具路徑獲得客戶驚嘆的加工結果。
      除了可以節省70%的加工時間、更大大提升了刀具壽命。 <br />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="http://www.solidcam.com/videos/cutting-videos/ "
        >iMachining 實際加工切削影片</a
      ><br />
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="http://www.solidcam.com/successes/imachining-successes/"
        >iMachining 的成功故事</a
      ><br />
    </p>
  </div>
  <div class="text-center">
    <img src="../../assets/img/imachining-1.jpg" />
  </div>

  <h2>影片觀賞</h2>
  <p class="general-heading_line"></p>

  <div class="container">
    <div class="row">
      <div class="col-md-6 video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/em3RfUT5vmU"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6 video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/D4xhyH2OxcQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/IXQwSpnibjQ"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-6 video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/ddZv5qnA3OU"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<hr />
{% include other_products.html%}
