---
title: WinMAX
---

{% include breadcrumbs.html path=page.path title=page.title %}
<div id="WinMAX">
  <div class="container text-center">
    <h1>WinMAX</h1>
  </div>
  <div class="container section">
    <div class="row">
      <div class="col-md-6">
        <h4>是日本TACTX公司自行開發的2次元CAD/CAM軟體</h4>
        <br />
        <h5>
          <i class="fas fa-check"></i>製造現場需要些甚麼呢? 短交期.低成本.高品質
        </h5>
        <h5><i class="fas fa-check"></i>它是為了滿足這三個需求而開發的</h5>
        <h5>
          <i class="fas fa-check"></i
          >利用CAD資料作為加工形狀.避免人為錯誤.產生高精度的加工程式
        </h5>
        <h5>
          <i class="fas fa-check"></i
          >還有加工順序和條件可以由您自由登錄/編輯.可以累積個人的加工專業技術
        </h5>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/img/winmax_logo2.png" alt="winmax_logo" />
      </div>
    </div>
  </div>
  <div class="container section">
    <h3>考慮與CAM結合以加工現場為導向的2次元CAD</h3>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h5><i class="fas fa-check"></i>它具有足夠的功能來繪製2次元的圖面</h5>
        <h5>
          <i class="fas fa-check"></i>平面凸輪及漸開線齒輪也可以很容易產生圖形
        </h5>
        <h5><i class="fas fa-check"></i>您可以根據自己的喜好自訂CAD功能</h5>
        <h5>
          <i class="fas fa-check"></i>圖形編輯功能中圖形端點的間隙也可以一併修正
        </h5>
        <h5><i class="fas fa-check"></i>擁有舒適便捷的操作性</h5>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/img/winmax1.png" alt="winmax1" />
      </div>
    </div>
  </div>
  <div class="container section">
    <h3>只收集2次元加工真正必要功能的CAM</h3>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h5>
          <i class="fas fa-check"></i
          >立式/臥式切削中心機對應的2次元加工用CAM模組
        </h5>
        <h5>
          <i class="fas fa-check"></i>輪廓、孔加工、袋形加工對應、NC程式作成
        </h5>
        <h5>
          <i class="fas fa-check"></i
          >豐富的追加模組選擇-2.5次元加工及五面加工、圓筒凸輪、圓筒加工也可以支援
        </h5>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/img/winmax2.png" alt="winmax2" />
      </div>
    </div>
  </div>
  <div class="container section">
    <h3>車床</h3>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h5><i class="fas fa-check"></i>2軸車床對應的CAM模組</h5>
        <h5>
          <i class="fas fa-check"></i
          >車床的各種工程、粗加工、精加工-切槽/車牙/溝鼻/鑽孔/攻牙加工的NC程式作成
        </h5>
        <h5>
          <i class="fas fa-check"></i>各工程作成後用動畫檢查刀片的移動及干涉
        </h5>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/img/winmax3.png" alt="winmax3" />
      </div>
    </div>
  </div>
  <div class="container section">
    <h3>線切割</h3>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h5><i class="fas fa-check"></i>2軸/4軸 線切割對應的CAM模組</h5>
        <h5>
          <i class="fas fa-check"></i
          >輪廓/上下異形狀/無屑加工/錐度加工的NC程式作成
        </h5>
        <h5><i class="fas fa-check"></i>配備了豐富的清角及切斷時的處理</h5>
        <h5>
          <i class="fas fa-check"></i
          >也可以設定多數次加工，冲子形狀/孔形狀的加工順序
        </h5>
      </div>
      <div class="col-md-6 text-center">
        <img src="/assets/img/winmax4.png" alt="winmax4" />
      </div>
    </div>
    <a href="/products/WinMAX/more-info.html"
      ><i class="fas fa-angle-double-right"></i> 更多資訊</a
    >
  </div>
</div>

<hr />
{% include other_products.html%}
