<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <span class="short-name">NTT</span>
      <span class="company-name">佳工新科技有限公司</span></a
    >
    <!-- collapsibe Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar_collapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar_collapse">
      <ul class="navbar-nav ml-auto">
        {%- for item in site.data.nav -%}
        <li class="nav-item">
          <div class="container highlightTextIn">
            <a class="nav-link effect-shine" href="{{ item.link }}">
              {{ item.name }}
            </a>
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
