#carouselExampleIndicators {
  .carousel-item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;
    img {
      width: 100%;
      min-height: 100vh;
      max-height: 100vh;
      object-fit: cover;
    }
    .carousel-caption {
      font-family: "Microsoft JhengHei";
      padding: 60px 0;
      h5,
      p {
        font-weight: bold;
        text-shadow: 5px 5px 5px black;
      }
      h5 {
        font-size: 35px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
#anouncement {
  position: absolute;
  top: 150px;
  font-size: 20px;
  font-family: "Microsoft JhengHei";
  left: 10vw;
  z-index: 5;
  color: rgb(220, 248, 255);
  text-shadow: black 0.05em 0.05em 0.05em;
  border: 2px dotted rgb(220, 248, 255);
  border-radius: 5%;
  padding: 5px;
  line-height: 30px;
}
@media only screen and (max-width: 455px) {
  #anouncement {
    left: 0;
    margin: 10px;
    font-size: 17px;
  }
}
#services {
  padding: 100px 50px;
  .logo-small {
    color: #1e94f4;
    font-size: 50px;
  }
  .col-lg-3 {
    padding-bottom: 90px;
  }
  h2 {
    font-size: 40px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 20px;
  }
  h4 {
    font-size: 30px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 25px;
  }
}

@media only screen and (max-width: 576px) {
  #services {
    padding: 60px 20px;
    .col-lg-3 {
      padding-bottom: 50px;
    }
    h2 {
      font-size: 35px;
    }
    h4 {
      font-size: 22px;
    }
  }
}
#products {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/carousel/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  .logo-white {
    color: white;
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 20px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    word-break: keep-all;
  }

  $blue: #1e94f4;
  @mixin transition($in) {
    transition: $in;
    -webkit-transition: $in;
    -moz-transition: $in;
    -o-transition: $in;
    -ms-transition: $in;
  }

  @mixin transform($in) {
    transform: $in;
    -webkit-transform: $in;
    -moz-transform: $in;
    -o-transform: $in;
    -ms-transform: $in;
  }

  .btn {
    outline: none;
    border: none;
    padding: 20px;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fff;

    @include transition(all 0.5s ease);
  }

  .effect {
    font-size: 22px;
    border-color: #fff;
    overflow: hidden;
    color: #fff;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;

    .insider {
      background-color: #fff;
      width: 100%;
      height: 20px;
      position: absolute;
      left: -135px;

      @include transform(rotateZ(45deg));
    }

    &:hover {
      background-color: $blue;
      border-color: #fff;
      color: #fff;

      .insider {
        @include transition(all 0.3s ease);
        left: 135px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  #products {
    padding: 70px 0;
    h2 {
      font-size: 35px;
    }
    .effect {
      font-size: 20px;
    }
  }
}
