---
title: SolidCAM
---

{% include breadcrumbs.html path=page.path title=page.title %}
<div id="SolidCAM">
  <div class="container text-center section">
    <h1>SolidCAM</h1>
    <p class="first-line">帶來獨特的最大價值和利潤，是最佳的CAM解決方案！</p>
    <p class="content">
      SolidCAM支援所有的CNC應用，包括2.5D銑削、HSS、3D
      HSM/HSR、5軸同動、車削、先進的車銑加工以及機上量測。
      SolidCAM提供了革命性的iMachining技術，可以節省70%甚至更多加工時間，並大大延長刀具壽命。
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-4 video-wrapper">
          <h4 class="video-caption">SolidCAM：整合型CAM領導者</h4>
          <iframe
            src="https://www.youtube.com/embed/JB5LpgIMKhc"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-md-4 video-wrapper">
          <h4 class="video-caption">iMachining：革命性的CAM</h4>
          <iframe
            src="https://www.youtube.com/embed/1y0xGUXaQwA"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-md-4 video-wrapper">
          <h4 class="video-caption">
            先進的車銑複合：複雜CNC的解決方案，包含走心式車床
          </h4>
          <iframe 
            src="https://www.youtube.com/embed/4BPAwaUdBnc" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row padding-bottom">
      <div class="col-md-6 logo-col">
        <img class="logo" src="{{ site.baseurl }}/assets/img/SolidCAM/SolidCAM-logo.jpg" alt="SolidCAM logo">
        <img class="logo" src="{{ site.baseurl }}/assets/img/SolidCAM/iMachining-logo.jpg" alt="iMachining logo">
      </div>
      <div class="col-md-6">
        <iframe 
          id="pr-video"
          src="https://www.youtube.com/embed/lKO1UfITrdU" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <h3>特點</h3>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h5><i class="fas fa-check"></i>完整的SOLIDWORKS整合無縫連結</h5>
          <h5><i class="fas fa-check"></i>與設計模型完全相關並連動更新</h5>
          <h5>
            <i class="fas fa-check"></i>適用於SOLIDWORKS的全系列CAM解決方案
          </h5>
          <h5><i class="fas fa-check"></i>獨特的革命性iMachining銑削技術</h5>
          <h5><i class="fas fa-check"></i>獲得專利的iMachining技術精靈</h5>
        </div>
        <div class="col-md-6">
          <img
            src="{{ site.baseurl }}/assets/img/SolidCAM/SolidCAM2.jpg"
            class="paddingTop"
          />
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-6 section">
          <img src="{{ site.baseurl }}/assets/img/SolidCAM/SolidCAM3.jpg" />
        </div>
        <div class="col-md-6">
          <img src="{{ site.baseurl }}/assets/img/SolidCAM/SolidCAM1.jpg" />
        </div>
      </div>
    </div>
    <div class="section">
      <h3>好處</h3>
      <hr />
      <h5>
        <i class="fas fa-check"></i
        >不需離開SOLIDWORKS作業環境即可定義和驗證所有的加工工程
      </h5>
      <h5>
        <i class="fas fa-check"></i
        >參數化設計設變後可以直接直接對應到您的機器並自動更新刀具路徑
      </h5>
      <h5>
        <i class="fas fa-check"></i>CAM模組包括iMachining
        2D/3D、2.5D銑削、高速曲面加工、3D高速加工、5軸同動、車削、進階車銑加工和機上量測
      </h5>
      <h5>
        <i class="fas fa-check"></i
        >iMachining提高了生產效率，節省了70％甚至更多的加工時間，並延長了刀具壽命
      </h5>
      <h5>
        <i class="fas fa-check"></i
        >技術精靈提供最佳化切削量和速度，同時考慮刀具路徑與圖形，刀具，素材材質和機器規格
      </h5>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-6 addPaddingBottom">
          <img
            src="{{ site.baseurl }}/assets/img/SolidCAM/SolidCAM4.png"
            class="certified-img"
          />
        </div>
        <div class="col-md-6">
          <img
            src="{{ site.baseurl }}/assets/img/SolidCAM/SolidCAM5.png"
            class="certified-img"
          />
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0;" />
  <div class="container text-center">
    <h2>CAM模組</h2>
    <p class="general-heading_line"></p>
    <div id="container">
      {% for item in site.data.SolidCAM-modules %}
      <div class="item">
        {% if item.link %}
        <a href="{{ item.link }}">
          {% endif %}
          <h4 class="module-name">{{ item.name }}</h4>
          <div
            class="module-img"
            style="background-image: url('{{ site.baseurl }}/assets/img/SolidCAM/module/{{ item.source }}');"
          ></div>
          {% if item.link %}
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<hr />
{% include other_products.html%}
