---
---
#road {
    padding: 0 90px;
    display: flex;
    a {
      font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      text-decoration: none;
      color: rgb(151, 151, 151);
      font-size: 16px;
    }
    a:hover {
      color: rgb(0, 80, 230);
    }
    .contents {
      font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
      color: rgb(151, 151, 151);
      font-size: 16px;
    }
    .fa-angle-right {
      position: relative;
      top: 4px;
      padding: 0 10px;
      color: rgb(151, 151, 151);
    } 
  }
   
  
  #CNCtransmitter_page_contents {  
    h1 {
      padding: 30px;
      font-size: 47px;
      font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
      font-weight: 560;
  
      text-shadow: 3px 3px 0px #e2dccc,
                   6px 9px 8px rgba(0,0,0,0.15),        
    }
  
    
    .general_introduction{
      font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
      line-height: 34px;
      font-weight: 600;
      font-size: 20px;
    }
  
    .first_line::before {
      content: "由日本開發製造生產直接引進台灣，針對工廠內CNC機器傳輸需求開發的專用傳輸器";
    }
  
    .second_line::before {
      content: "且對於較惡劣的工廠環境有較好的耐受性";
    }
  
    
  
    .row {
      padding: 65px 0;
      .col-lg-6 {
        padding: 20px 20px;
        
      }
  
      img{
        width: 60%;
      }
  
      .download {
        padding-top: 2px;
      }
    
      .catalog {
        padding-top: 2px;
      }

      .img-link {
        a {
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
          text-decoration: none;
          color: rgb(141, 141, 141);
        }
        a:hover {
          color: rgb(25, 192, 214);
        }
      }
      
      h2 {
        font-size: 25px;
        font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
        margin: 0;
        padding: 25px 0;
        font-weight: bold;
        line-height: 40px;
      }
      
      h3{
        margin: 0;
        font-size: 25px;
        font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
        color: #222222;
        padding: 19px 0;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 2px 2px 2px rgba(28,110,164,0);
      }
  
     
      .fas, .far {
        padding: 0 10px 0 0;
      }
  
      .advantages {
        padding-left: 10px;
      }
      
      .contents {
        position: relative;
        font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
        line-height: 40px;
        font-size: 18px;
        margin-left: 15px;
        text-indent: -15px;
      }
  
      
  
      .stop_sale {
        position: absolute;
        top: 340px;
        left: 75%;
        color: rgb(240, 168, 168);
        font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
        line-height: 50px;
        font-size: 18px;
        margin: 0 0;
      }
  
      .indent {
        text-indent: 37px;
      }
  
      .increase_left_padding {
        padding: 0 0 0 7%;
        width: 100%;
      }
  
      .com_adv_title {
        font-size: 40px;
        font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
        font-weight: bold;
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
      }
      
      .com_adv {
        font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        font-size: 17px;
        span {
          font-weight: bold;
          font-size: 25px;
          color: rgb(10, 160, 180);
          text-shadow: 0.3px 0.3px 0.3px rgb(1, 60, 68);
        }
      }
  
      .big {
        padding: 40px 40px;
        margin-bottom: 30px;
        font-size: 100px;
        color: white;
        background-color: rgb(2, 30, 109);
        border-radius: 500px;
      }
  
      .flat {
        padding: 40px 55px;
      }
      
      
    }

    .increase_bottom_padding {
      padding-bottom: 100px;
    }
  
  }
  @media only screen and (max-width : 1199px) {
  #CNCtransmitter_page_contents {
    padding-bottom: 30px;
  }
  }
  @media only screen and (max-width : 992px) {
  #CNCtransmitter_page_contents {
    h1 {
      padding: 50px 0 30px 0;
    }
  
    .row {
      padding: 20px 0;
    }
  
    .increase_left_padding {
      padding: 0 !important;
      text-align: center;
    }
  
    img {
      width: 40% ;
    }
  
    .contents {
      text-align: center;
    }
  
    .advantages {
      padding: 0 !important; 
    }
  
    .stop_sale {
      position: absolute;
      top: 20px !important;
      left: 75%;
    }
  
    .general_introduction{
      line-height: 28px;
      font-weight: 550;
      font-size: 17px;
    }
  
    .com_adv_title {
      padding: 30px 0;
    }
  
  }
  }
  
  @media only screen and (max-width : 768px) {
  
  #road {
    padding: 0 20px;
  }
  
  #CNCtransmitter_page_contents {
    h1 {
      font-size: 37px;
    }
  
    .general_introduction{
      line-height: 24px;
      font-size: 14px;
    }
  
  
    .first_line::before {
      content: "由日本開發製造生產直接引進台灣";
    }
  
    .second_line::before {
      content: "針對工廠內CNC機器傳輸需求開發的專用傳輸器";
    }
    .third_line::before {
      content: "且對於較惡劣的工廠環境有較好的耐受性";
    }
  
      
      
    .stop_sale {
      left: 10px !important;
      top: -10px !important;
    }
    
    .col-lg-4 {
      padding: 20px 20px;
    }
  
    .increase_left_padding {
      padding: 20px 7.5% 20px 9% !important;
    }
  
  
    .contents {
      text-align: left;
    }
  
    h2 {
      font-size: 22px !important;
    }
  
    .com_adv_title {
      padding: 20px 0;
    }
  
  
  }
  
  }

#other-products {
  h2 {
    font-size: 30px;
    font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
    padding: 50px 0 15px 0;  
  }
  .row {
    padding: 0;
  }
  
  .s-logo {
    color: rgb(206, 245, 252);
    padding: 6px 11px;
    margin: 0 3px;
    background: rgb(10, 26, 99);
    border-radius: 500px;
  }
  a {
    position: relative;
    display: inline-block;
    margin: 0;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    font-family: 'Lato', 'Roboto', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  }
  a:hover,
  a:focus {
    outline: none;
  }
  .hover-effect a {
    color: rgb(255, 136, 0);
    text-shadow: none;
    padding: 10px 0;
  }
  
  .hover-effect a::before {
    color: rgb(19, 11, 145);
    text-shadow: 0.5px 0.5px 0.5px rgba(13, 24, 117, 0.849);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  
  .hover-effect a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background: rgb(240, 73, 7);
    opacity: 0;

    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  
  .hover-effect a:hover::before,
  .hover-effect a:focus::before {
    opacity: 0;

    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  
  .hover-effect a:hover::after,
  .hover-effect a:focus::after {
    opacity: 0.4;

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  
}

@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\e009";
}

.hi-icon-screen:before {
	content: "\e00a";
}

.hi-icon-earth:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-cog:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-videos:before {
	content: "\e005";
}

.hi-icon-list:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-images:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-mail:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-archive:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-bookmark:before {
	content: "\e011";
}

.hi-icon-user:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-star:before {
	content: "\e014";
}

.hi-icon-effect-3 .hi-icon {
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
	color: #f06060;
}

.hi-icon-effect-3a .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-3a .hi-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* Effect 3b */
.hi-icon-effect-3b .hi-icon {
	color: #fff;
}

.hi-icon-effect-3b .hi-icon:hover {
	color: #f06060;
}

.hi-icon-effect-3b .hi-icon:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.hi-icon-effect-3b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
