---
---

#road {
  padding: 0 90px;
  display: flex;
  a {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 16px;
  }
  a:hover {
    color: rgb(0, 80, 230);
  }
  .contents {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    color: rgb(151, 151, 151);
    font-size: 16px;
  }
  .fa-angle-right {
    position: relative;
    top: 4px;
    padding: 0 10px;
    color: rgb(151, 151, 151);
  }
}

#CNCtransmitter_page_contents {
  h1 {
    padding: 30px;
    font-size: 47px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: 560;

    text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
  }

  .general_introduction {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
  }

  .first_line::before {
    content: "由日本開發製造生產直接引進台灣，針對工廠內CNC機器傳輸需求開發的專用傳輸器";
  }

  .second_line::before {
    content: "且對於較惡劣的工廠環境有較好的耐受性";
  }

  .row {
    padding: 65px 0;
    .col-lg-6 {
      padding: 20px 20px;
    }

    img {
      width: 60%;
    }

    .download {
      padding-top: 2px;
    }

    .catalog {
      padding-top: 2px;
    }

    .img-link {
      a {
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
          sans-serif;
        text-decoration: none;
        color: rgb(141, 141, 141);
      }
      a:hover {
        color: rgb(25, 192, 214);
      }
    }

    h2 {
      font-size: 25px;
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      margin: 0;
      padding: 25px 0;
      font-weight: bold;
      line-height: 40px;
    }

    h3 {
      margin: 0;
      font-size: 25px;
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      color: #222222;
      padding: 19px 0;
      text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
        1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
        2px 2px 2px rgba(28, 110, 164, 0);
    }

    .fas,
    .far {
      padding: 0 10px 0 0;
    }

    .advantages {
      padding-left: 10px;
    }

    .contents {
      position: relative;
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      line-height: 40px;
      font-size: 18px;
      margin-left: 15px;
      text-indent: -15px;
    }

    .stop_sale {
      position: absolute;
      top: 340px;
      left: 75%;
      color: rgb(240, 168, 168);
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      line-height: 50px;
      font-size: 18px;
      margin: 0 0;
    }

    .indent {
      text-indent: 37px;
    }

    .increase_left_padding {
      padding: 0 0 0 7%;
      width: 100%;
    }

    .com_adv_title {
      font-size: 40px;
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.6);
      text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
    }

    .com_adv {
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      font-size: 17px;
      span {
        font-weight: bold;
        font-size: 25px;
        color: rgb(10, 160, 180);
        text-shadow: 0.3px 0.3px 0.3px rgb(1, 60, 68);
      }
    }

    .big {
      padding: 40px 40px;
      margin-bottom: 30px;
      font-size: 100px;
      color: white;
      background-color: rgb(2, 30, 109);
      border-radius: 50%;
    }

    .flat {
      padding: 40px 55px;
    }
  }

  .increase_bottom_padding {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 1199px) {
  #CNCtransmitter_page_contents {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 992px) {
  #CNCtransmitter_page_contents {
    h1 {
      padding: 50px 0 30px 0;
    }

    .row {
      padding: 20px 0;
    }

    .increase_left_padding {
      padding: 0 !important;
      text-align: center;
    }

    img {
      width: 40%;
    }

    .contents {
      text-align: center;
    }

    .advantages {
      padding: 0 !important;
    }

    .stop_sale {
      position: absolute;
      top: 20px !important;
      left: 75%;
    }

    .general_introduction {
      line-height: 28px;
      font-weight: 550;
      font-size: 17px;
    }

    .com_adv_title {
      padding: 30px 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  #road {
    padding: 0 20px;
  }

  #CNCtransmitter_page_contents {
    h1 {
      font-size: 37px;
    }

    .general_introduction {
      line-height: 24px;
      font-size: 14px;
    }

    .first_line::before {
      content: "由日本開發製造生產直接引進台灣";
    }

    .second_line::before {
      content: "針對工廠內CNC機器傳輸需求開發的專用傳輸器";
    }
    .third_line::before {
      content: "且對於較惡劣的工廠環境有較好的耐受性";
    }

    .stop_sale {
      left: 10px !important;
      top: -10px !important;
    }

    .col-lg-4 {
      padding: 20px 20px;
    }

    .increase_left_padding {
      padding: 20px 7.5% 20px 9% !important;
    }

    .contents {
      text-align: left;
    }

    h2 {
      font-size: 22px !important;
    }

    .com_adv_title {
      padding: 20px 0;
    }
  }
}

#other-products {
  padding-bottom: 70px;
  h2 {
    font-size: 30px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 50px 0 15px 0;
  }
  .row {
    padding: 0;
  }

  .s-logo {
    font-size: 30px;
    position: relative;
    top: 6px;
  }
  .text-effect {
    position: relative;
    display: inline-block;
    margin: 0;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
  }
  .text-effect:hover,
  .text-effect:focus {
    outline: none;
  }
  .hover-effect .text-effect {
    color: rgb(113, 58, 216);
    text-shadow: none;
    padding: 10px 0;
  }

  .hover-effect .text-effect::before {
    color: rgb(19, 11, 145);
    text-shadow: 0.5px 0.5px 0.5px rgba(13, 24, 117, 0.849);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }

  .hover-effect .text-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px; //underline
    background: rgb(113, 58, 216);
    opacity: 0;

    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }

  .hover-effect .text-effect:hover::before,
  .hover-effect .text-effect:focus::before {
    opacity: 0;

    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  .hover-effect .text-effect:hover::after,
  .hover-effect .text-effect:focus::after {
    opacity: 0.4; //underline opacity

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  .hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
  }

  .hi-icon:after {
    text-decoration: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .hi-icon:before {
    font-family: "ecoicon";
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }

  .hi-icon-effect .hi-icon {
    box-shadow: 0 0 0 4px rgb(101, 0, 110); //circle shadow
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }

  .hi-icon-effect .hi-icon:after {
    top: -2px; //background
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: rgb(101, 0, 110);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s; //expand time, opacity time
  }

  .hi-icon-effect-1 .hi-icon {
    color: #f0fdff;
  }

  .hi-icon-effect-1 .hi-icon:hover {
    color: rgb(101, 0, 110); //on hover icon color
  }

  .hi-icon-effect-1 .hi-icon:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); //background expand
    opacity: 0; //background disappear
  }

  .cut {
    padding-left: 6%;
  }
}

@media only screen and (max-width: 1199px) {
  #other-products {
    .cut {
      padding-left: 11%;
    }
  }
}
@media only screen and (max-width: 850px) {
  #other-products {
    .cut {
      padding-left: 20px;
    }
    .hi-icon {
      width: 30px;
      height: 30px;
    }
    .s-logo {
      font-size: 20px;
      position: relative;
      top: 5px;
    }
    .text-effect {
      font-size: 1.3em;
    }
  }
}

#NC_page_contents {
  h1 {
    padding: 30px;
    font-size: 47px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: 560;

    text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
  }
  .general_introduction {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .first_line::before {
    content: "WinVIEW – 是日本TACTX CAD/CAM軟體中的模擬器及連線功能";
  }

  .second_line::before {
    content: "可模擬一般的GM碼NC程式產生刀具軌跡，並經由RS-232介面傳輸NC程式到CNC機器上";
  }
}

@media only screen and (max-width: 1000px) {
  #NC_page_contents {
    h1 {
      font-size: 38px;
    }
    .general_introduction {
      font-size: 17px;
    }
  }
}

@media only screen and (max-width: 513px) {
  #NC_page_contents {
    h1 {
      font-size: 36px;
    }
    #NC-supportedCNC {
      filter: url(#pictureFilter);
    }
    .general_introduction {
      font-size: 17px;
    }
    .first_line::before {
      content: "WinVIEW – 是日本TACTX CAD/CAM軟體中的模擬器及連線功能，可模擬一般的GM碼NC程式產生刀具軌跡，並經由RS-232介面傳輸NC程式到CNC機器上";
    }

    .second_line::before {
      content: "";
    }
  }
}

#SolidCAM {
  h1 {
    padding: 30px;
    font-size: 47px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: 560;

    text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
  }

  a {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: rgb(207, 107, 24);
  }
  a:hover {
    color: rgb(126, 0, 0);
  }

  .general_introduction {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
  }
  img {
    width: 35%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  #SolidCAM {
    padding-bottom: 30px;
    img {
      width: 45%;
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 992px) {
  #SolidCAM {
    h1 {
      padding: 50px 0 30px 0;
    }

    .general_introduction {
      line-height: 28px;
      font-weight: 550;
      font-size: 17px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #SolidCAM {
    h1 {
      font-size: 37px;
    }

    .general_introduction {
      line-height: 24px;
      font-size: 14px;
    }
    img {
      width: 100%;
      padding: 5px;
    }
  }
}

#iMachining {
  padding-bottom: 70px;
  h1 {
    padding: 30px;
    font-size: 47px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: 560;
    text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
  }
  h2 {
    font-size: 40px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 20px;
    text-align: center;
  }

  iframe {
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .video-wrapper {
    position: relative;
    height: 300px; //16:9
    overflow: hidden;
  }

  a {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: rgb(207, 107, 24);
  }
  a:hover {
    color: rgb(126, 0, 0);
  }

  .general_introduction {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
  }
  img {
    width: 60%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1500px) {
  #iMachining {
    padding-bottom: 30px;
    img {
      width: 90%;
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 992px) {
  #iMachining {
    h1 {
      padding: 50px 0 30px 0;
    }

    .general_introduction {
      line-height: 28px;
      font-weight: 550;
      font-size: 17px;
    }

    .video-wrapper {
      height: 200px; //16:9
    }
  }
}

@media only screen and (max-width: 768px) {
  #iMachining {
    h1 {
      font-size: 37px;
    }

    .general_introduction {
      line-height: 24px;
      font-size: 14px;
    }
    img {
      width: 100%;
      padding: 0;
    }
    .video-wrapper {
      height: 300px;
      padding-bottom: 30px;
    }
  }
}
@media only screen and (max-width: 415px) {
  #iMachining {
    .video-wrapper {
      height: 260px;
    }
  }
}

#WinMAX {
  padding-bottom: 70px;
  h1 {
    padding: 30px;
    font-size: 47px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: 560;
    text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
  }
  h2 {
    font-size: 40px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 50px 0 8px 0;
    text-align: center;
    color: rgb(41, 77, 175);
  }

  h4 {
    font-size: 25px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 0 0 25px 0;
    text-align: center;
    line-height: 40px;
  }

  h5 {
    font-size: 25px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 40px;
  }
  .increase-padding-bottom {
    padding-bottom: 10px;
  }
  .section {
    padding-bottom: 50px;
  }
  .general_introduction {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
  }
  img {
    width: 60%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1500px) {
  #WinMAX {
    padding-bottom: 30px;
    img {
      width: 90%;
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 992px) {
  #WinMAX {
    h1 {
      padding: 50px 0 30px 0;
    }

    .general_introduction {
      line-height: 28px;
      font-weight: 550;
      font-size: 17px;
    }

    h4 {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #WinMAX {
    h1 {
      font-size: 37px;
    }

    .general_introduction {
      line-height: 24px;
      font-size: 14px;
    }
    img {
      width: 100%;
      padding: 0;
    }

    h4 {
      padding: 0 20px 25px 20px;
    }
    .increase-padding-bottom {
      padding-bottom: 16px;
    }
  }
}
@media only screen and (max-width: 462px) {
  #WinMAX {
    .general-heading_line {
      margin: 20px auto 20px;
    }
    h4 {
      font-size: 17px;
    }
    h5 {
      font-size: 20px;
    }
  }
}

#CNC-wireless-tranmitter {
  h1 {
    padding: 30px;
    font-size: 47px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: 560;

    text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
  }

  .general_introduction {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
  }

  .general-heading_line {
    margin: 20px auto 15px;
  }

  .row {
    padding: 65px 0;
    .col-lg-6 {
      padding: 20px 20px;
    }

    img {
      width: 70%;
    }

    h2 {
      font-size: 25px;
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      margin: 0;
      padding: 25px 0;
      font-weight: bold;
      line-height: 40px;
    }

    .fas,
    .far {
      padding: 0 10px 0 0;
    }

    .advantages {
      padding-left: 10px;
    }

    .contents {
      position: relative;
      font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
        sans-serif;
      line-height: 40px;
      font-size: 18px;
      margin-left: 15px;
      text-indent: -15px;
    }

    .indent {
      text-indent: 37px;
    }

    .increase_left_padding {
      padding: 0 0 0 7%;
      width: 100%;
    }
  }

  .increase_bottom_padding {
    padding-bottom: 100px;
  }
  .detail-specification-title {
    //詳細規格
    font-size: 40px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }

  .large-img {
    width: 60%;
    padding: 10px;
  }
}
@media only screen and (max-width: 1500px) {
  #CNC-wireless-tranmitter {
    .large-img {
      width: 90%;
      padding: 10px;
    }
  }
}
@media only screen and (max-width: 1199px) {
  #CNC-wireless-tranmitter {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 992px) {
  #CNC-wireless-tranmitter {
    h1 {
      padding: 50px 0 30px 0;
    }

    .row {
      padding: 20px 0;
    }

    .increase_left_padding {
      padding: 0 !important;
      text-align: center;
    }

    img {
      width: 40%;
    }

    .contents {
      text-align: center;
    }

    .advantages {
      padding: 0 !important;
    }

    .general_introduction {
      line-height: 28px;
      font-weight: 550;
      font-size: 17px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #road {
    padding: 0 20px;
  }

  #CNC-wireless-tranmitter {
    h1 {
      font-size: 37px;
    }

    .general_introduction {
      line-height: 24px;
      font-size: 14px;
    }

    .col-lg-4 {
      padding: 20px 20px;
    }

    .increase_left_padding {
      padding: 20px 7.5% 20px 9% !important;
    }

    .contents {
      text-align: left;
    }

    h2 {
      font-size: 22px !important;
    }

    .large-img {
      width: 100%;
      padding: 0;
    }
  }
}
