---
---

/*  Extra small (.col-) < 576px
      sm ≥ 576px 
      md ≥ 768px
      Lg ≥ 992px
      xl ≥ 1200px */
@import "main"; //navbar and footer
@import "home";
@import "about";
@import "news";
@import "products";
@import "products/CNC-transmitter";
@import "products/other-products";
@import "products/NC-simulator";
@import "products/SolidCAM";
@import "products/iMachining";
@import "products/WinMAX";
@import "products/CNC-wireless-tranmitter";

.general-heading_line {
  background-color: #1e94f4;
  height: 4px;
  line-height: 0;
  width: 48px;
  margin: 20px auto 50px;
}
#breadcrumb {
  padding: 150px 10px 0 10px;
  a {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: rgb(151, 151, 151);
    font-size: 16px;
  }
  .prompt,
  .breadcrumb_last {
    font-family: "Microsoft JhengHei";
    color: rgb(151, 151, 151);
  }
  a:hover {
    color: rgb(0, 80, 230);
  }
}
h1 {
  padding: 30px;
  font-size: 47px;
  font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
    sans-serif;
  font-weight: 560;
  text-shadow: 3px 3px 0px #e2dccc, 6px 9px 8px rgba(0, 0, 0, 0.15);
}
