---
---

/*  Extra small (.col-) < 576px
      sm ≥ 576px 
      md ≥ 768px
      Lg ≥ 992px
      xl ≥ 1200px */
@import "main"; //navbar and footer
@import "home";
@import "about";
@import "news";
@import "products";
.general-heading_line {
  background-color: #1e94f4;
  height: 4px;
  line-height: 0;
  width: 48px;
  margin: 20px auto 50px;
}
