#other-products {
  padding-bottom: 70px;
  h2 {
    font-size: 30px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 50px 0 15px 0;
  }
  .row {
    padding: 0;
  }
  .s-logo {
    font-size: 30px;
    position: relative;
    top: 6px;
  }
  .text-effect {
    position: relative;
    display: inline-block;
    margin: 0;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
  }
  .text-effect:hover,
  .text-effect:focus {
    outline: none;
  }
  .hover-effect .text-effect {
    color: rgb(113, 58, 216);
    text-shadow: none;
    padding: 10px 0;
  }
  .hover-effect .text-effect::before {
    color: rgb(19, 11, 145);
    text-shadow: 0.5px 0.5px 0.5px rgba(13, 24, 117, 0.849);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  .hover-effect .text-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 2px; //underline
    background: rgb(113, 58, 216);
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
  }
  .hover-effect .text-effect:hover::before,
  .hover-effect .text-effect:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .hover-effect .text-effect:hover::after,
  .hover-effect .text-effect:focus::after {
    opacity: 0.4; //underline opacity
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  .hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
  }
  .hi-icon:after {
    text-decoration: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .hi-icon:before {
    font-family: "ecoicon";
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  .hi-icon-effect .hi-icon {
    box-shadow: 0 0 0 4px rgb(101, 0, 110); //circle shadow
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .hi-icon-effect .hi-icon:after {
    top: -2px; //background
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: rgb(101, 0, 110);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s; //expand time, opacity time
  }
  .hi-icon-effect-1 .hi-icon {
    color: #f0fdff;
  }
  .hi-icon-effect-1 .hi-icon:hover {
    color: rgb(101, 0, 110); //on hover icon color
  }
  .hi-icon-effect-1 .hi-icon:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); //background expand
    opacity: 0; //background disappear
  }
  .cut {
    padding-left: 6%;
  }
}

@media only screen and (max-width: 1199px) {
  #other-products {
    .cut {
      padding-left: 11%;
    }
  }
}
@media only screen and (max-width: 850px) {
  #other-products {
    .cut {
      padding-left: 20px;
    }
    .hi-icon {
      width: 30px;
      height: 30px;
    }
    .s-logo {
      font-size: 20px;
      position: relative;
      top: 5px;
    }
    .text-effect {
      font-size: 1.3em;
    }
  }
}
