#SolidCAM {
  .section {
    padding-bottom: 60px;
  }
  .content,
  .first-line,
  h4 {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
  }
  .first-line {
    font-size: 20px;
    font-weight: bold;
  }
  .content {
    padding-bottom: 30px;
  }
  iframe {
    width: 100%;
    height: 65%;
  }
  #pr-video {
    height: 100%;
  }
  .padding-bottom {
    padding-bottom: 40px;
  }
  .logo {
    display: block;
    width: 88%;
    margin: 12px auto;
  }
  .video-wrapper {
    height: 380px;
    border-top: 2px solid rgb(148, 148, 148);
    border-bottom: 2px solid rgb(148, 148, 148);
    background-color: rgb(243, 243, 243);
  }
  .video-caption,
  .module-name {
    font-size: 20px;
    font-weight: bold;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  h3 {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    color: rgb(41, 77, 175);
  }
  .fa-check {
    padding: 0 10px 0 0;
  }
  h5 {
    padding: 7px 0;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    margin-left: 23px;
    text-indent: -13px;
    line-height: 35px;
  }
  img {
    width: 100%;
  }
  .certified-img {
    width: 80%;
    display: block;
    margin: auto;
  }
  h2 {
    font-size: 40px;
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    padding: 50px 0 8px 0;
    color: rgb(41, 77, 175);
  }
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    padding: 0 2vw 50px 2vw;
    a {
      color: rgb(17, 95, 168);
      text-decoration: none;
      transition: all 0.3s ease;
    }
    a:hover {
      color: rgb(105, 169, 228);
    }
    a:hover .module-img {
      transform: scale(1.04);
    }
  }
  .module-img {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 8px rgb(145, 145, 145);
    width: 255px;
    height: 205px;
    transition: all 0.3s ease;
  }
}
#module {
  padding-bottom: 40px;
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h4 {
    font-family: "Lato", "Roboto", "Noto Sans TC", "Microsoft JhengHei",
      sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item {
    padding: 0 2vw 50px 2vw;
  }
  .module-img {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 8px rgb(145, 145, 145);
    width: 255px;
    height: 205px;
  }
}
@media only screen and (max-width: 992px) {
  #SolidCAM {
    .video-caption {
      height: 110px;
    }
  }
  #module {
    h1 {
      font-size: 35px;
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }
}
@media only screen and (max-width: 767px) {
  #SolidCAM {
    .section {
      padding-bottom: 10px;
    }
    #pr-video {
      height: 220px;
    }
    .logo-col {
      padding-bottom: 20px;
    }
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 35px;
    }
    .video-caption {
      height: 90px;
    }
    .paddingTop {
      padding-top: 30px;
    }
    .addPaddingBottom {
      padding-bottom: 50px;
    }
    .video-wrapper {
      border-bottom: none;
    }
  }
}
@media only screen and (max-width: 576px) {
  #SolidCAM {
    h5 {
      font-size: 17px;
      line-height: 28px;
    }
  }
  #module {
    h1 {
      font-size: 30px;
    }
  }
}
