<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>佳工新科技有限公司</title>
    <!--Add icon library-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato|Roboto"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="/assets/img/logo_temp.ico" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/products.css" />
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col">
            <div class="logo-sm">
              <img
                src="{{ site.baseurl }}/assets/img/logo_temp.png"
                alt="TACTX"
                style="width: 110px;"
              />
              <!--origin: style="width: 60px;"-->
            </div>
          </div>

          <div class="col-sm-5">
            <div class="row">
              <div class="col-sm-6 col">
                <h3>王先生</h3>
                <p>0910366882</p>
              </div>
              <div class="col-sm-6 col">
                <h3>TEL</h3>
                <p>(02)8687-2975</p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col">
            <h3>FAX</h3>
            <p>(02)2685-1345</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8 col">
            <h3>Address</h3>
            <p>
              4F., No. 257, Jinmen St., Banqiao Dist., New Taipei City 220,
              Taiwan (R.O.C.) <br />
              新北市板橋區金門街 257 號 4 樓
            </p>
          </div>
        </div>

        <div class="row padding-bottom-wider">
          <div class="col-sm-4"></div>
          <div class="col-sm-8 col">
            <h3>E-mail</h3>
            <p>
              <a href="mailto:chinliw.tactx@gmail.com"
                >chinliw.tactx@gmail.com</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="copyright">
        Copyright &#169; 2019 NEW TAIWAN TACTX. All rights reserved.
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/nav_bar.js"></script>
  </body>
</html>
