<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <!--Add icon library-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    
</head>
<body>

    
    {% include navigation.html %}

    <div class="content">
        {{ content }}
    </div>
    <footer>
        <div class="container">
            <div class="row">
            <div class="col-sm-4">
                <div class="logo-sm">
                <img src="/assets/img/logo.png" alt="TACTX" style="width: 60px;">
                </div>
                <p><a href="/privacy-terms/">Privacy & Terms</a></p>
            </div>
    
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>TEL</h3>
                        <p>(02)89935651</p>
                    </div>
                    <div class="col-sm-6">
                        <h3>FAX</h3>
                        <p>(02)89935633</p>
                        
                    </div>
                </div>
            <h3>Address</h3>
            
            <p>9F-2, No 1, Zhong'an St, Xinzhuang Dist, New Taipei City, Taiwan</p>
                
                
            </div>
    
            <div class="col-sm">
                <h3>Follow us</h3>
                <p>
                <a href="https://www.facebook.com/tactx.taiwan" class="fab fa-facebook"></a>
    
                </p>
            </div>
    
            </div>
    
        </div>
        <div class="copyright">
            Copyright &#169; 2019 TACTX. All rights reserved.
        </div>
    </footer>   
    
</body>
</html>